@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
header {
  font-family: "Nunito Sans", sans-serif;
  background-color: #2f3136;
  color: white;
  display: flex;
  justify-content: space-between;
}
header nav {
  padding-top: 5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: large;
  margin-right: 2rem;
  border: none;
  padding: 0.5rem;
  transition: border-bottom 0.3s;
}
header nav a:hover {
  border-bottom: 2px solid white;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: "Russo One", sans-serif;
  justify-content: center;
  align-items: left;
}
.logo h1 {
  font-size: 1rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.logo img {
  width: 100px;
  width: 100px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.discord-layout {
  height: 80vh;
  width: 100%;
  display: flex;
  font-family: "Nunito Sans", sans-serif;
}

.discord-sidebar {
  background-color: #2f3136;
  color: #fff;
  padding: 20px;
  flex-basis: 25%;
  padding-left: 30px;
}
.discord-sidebar a {
  text-decoration: none;
  color: white;
  font-size: large;
  margin-right: 2rem;
  border: none;
  padding: 0.5rem;
  transition: border-bottom 0.3s;
}
.discord-sidebar .plus {
  display: flex;
  align-items: center;
}
.discord-sidebar .plus img {
  width: 30px;
  height: 30px;
  padding-left: 1rem;
}
.discord-sidebar .plus h3 {
  font-size: 1rem;
}

.discord-main-content {
  background-color: #36393f;
  color: #fff;
  padding: 20px;
  width: 100%;
  position: relative;
}

.category {
  margin-bottom: 10px;
}
.category .plus img {
  width: 20px;
  height: 20px;
  padding-left: 0.5rem;
}

.choice {
  padding-top: 1.5rem;
}

.chat-room-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.chat-room-link:hover {
  text-decoration: underline;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.chat-input label {
  margin-right: 10px;
}
.chat-input input[type=text] {
  flex-grow: 1;
  padding: 5px;
}
.chat-input button {
  padding: 5px 10px;
}

.chat-input {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 97%;
  background-color: #36393f;
  padding: 10px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
}
.chat-messages p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #444;
}
.chat-messages .pinned-message {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}
.chat-messages .pin .pin-button {
  text-decoration: none;
  color: white;
  background-color: #3760a5;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s;
}
.chat-messages .pin .pin-button:hover {
  background-color: #214789;
}
.chat-messages .hide-pin {
  display: none;
}

main {
  background-color: #2f3136;
  height: 80vh;
  color: white;
}

.add {
  background-color: #2f3136;
  color: #ffffff;
  height: 80vh;
}
.add form {
  max-width: 400px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
}
.add label {
  display: block;
  margin-bottom: 8px;
}
.add input[type=text] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
.add button {
  padding: 10px 20px;
  background-color: #3760a5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}
.add button:hover {
  background-color: #214789;
}
.add .text-danger {
  color: #ff5722;
  font-size: 14px;
  margin-top: 5px;
}

.text_about {
  margin: 0;
  font-family: "Russo One", sans-serif;
  padding: 5rem;
}
.text_about .text {
  font-family: "Nunito Sans", sans-serif;
}

footer {
  background-color: #2f3136;
  color: white;
  font-family: "Russo One", sans-serif;
  padding: 0.5rem;
}

/*# sourceMappingURL=app.css.map */
